.formTitle {
    margin: 25px auto;
    width: fit-content;
}

.formContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--card-bg-color);
    position: relative;
}
.removeBtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 8px;
    right: 10px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #d84040;
    cursor: pointer;
}
.removeBtn:hover {
    background-color: #f13838;
}

.removeBtn:disabled {
    opacity: 0.3;
}
